{% extends 'reports/base.html' %}

{% block title %} Dismiss List {% endblock %}

{% block content %}
<div class="container">
  <h2>Dismisses</h2>
  <p> Teams dismisses transfers</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Player</th>
      <th>Team</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
      {% for dismiss in object_list %}
      <tr>
        <td>{{dismiss.player.name}}</td>
        <td>{{dismiss.team.name}}</td>
        <td>{{dismiss.date}}</td>
      </tr>
      {% empty %}
        <tr>
            <li>No dismisses yet.</li>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
