{% extends 'reports/base.html' %}

{% block title %} Players List {% endblock %}

{% block content %}

<div class="container">
  <h2>Players</h2>
  <p> Teams players</p>
  <table class="table table-striped">
    <thead>
    <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Team</th>
    <th>Details</th>
    </tr>
    </thead>
    <tbody>
      {% for player in object_list %}
      <tr>
        <td>{{player.name}}</td>
        <td>{{player.position.name}}</td>
        <td>{{player.team.name}}</td>
        <td><a href="{% url 'player-details' player.id %}">See details</a></td>
      </tr>
      {% empty %}
        <tr>
            <li>No articles yet.</li>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
