{% extends 'reports/base.html' %}

{% block title %} Stadiums List {% endblock %}

{% block content %}
<div class="container">
  <h2>Stadiums</h2>
  <p>NFLP's Stadiums</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
      {% for stadium in object_list %}
      <tr>
        <td>{{stadium.name}}</td>
        <td>{{stadium.address}}</td>
        <td><a href="{% url 'stadium-details' stadium.id %}">See details</a></td>
      </tr>
      {% empty %}
        <tr>
            <li>No articles yet.</li>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
