{% extends 'reports/base.html' %}

{% block title %} Teams List {% endblock %}

{% block content %}
<div class="container">
  <h2>Teams</h2>
  <p> Teams with stadiums</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Stadium</th>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
      {% for team in object_list %}
      <tr>
        <td>{{team.name}}</td>
        <td>{{team.stadium.name}}</td>
        <td><a href="{% url 'team-details' team.id %}">See details</a> | <a href="{% url 'team-players-list' team.id %}">See players</a> </td>
      </tr>
      {% empty %}
        <tr>
            <li>No articles yet.</li>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
