{% extends 'reports/base.html' %}

{% block title %} Team Datails {% endblock %}

{% block content %}
<div class="container">
  <h2>Team</h2>
  <p> object.name </p>
  <table class="table table-striped">
    <thead>
    <tr>
    <th>Name</th>
    <th>Stadium</th>
    <th>Stadium Address</th>
    </tr>
    </thead>
    <tbody>
      {% if object %}
      <tr>
        <td>{{object.name}}</td>
        <td>{{object.stadium.name}}</td>
        <td>{{object.stadium.address}}</td>
      </tr>
      {% else %}
        <tr>
            <li>No articles yet.</li>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
