{% extends 'reports/base.html' %}

{% block title %} Transfers List {% endblock %}

{% block content %}
<div class="container">
  <h2>Transfers</h2>
  <p> Teams players transfers</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Player</th>
      <th>Team out</th>
      <th>Team in</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
      {% for tranfer in object_list %}
      <tr>
        <td>{{tranfer.player.name}}</td>
        <td>{{tranfer.team_in.name}}</td>
        <td>{{tranfer.team_out.name}}</td>
        <td>{{tranfer.date}}</td>
      </tr>
      {% empty %}
        <tr>
            <li>No tranfers yet.</li>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
